* {
  font-size: 1vw;
  background: #ffffff;
  box-sizing: border-box;
}

h1 {
  justify-self: center;
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

.App {
  display: inline-block;
  width: 100%;
  outline: none !important;
}

.header {
  background-color: #10375c !important;
  height: 5vh;
  width: 100%;
  top: 0;
  position: fixed !important;
  z-index:9999;
  /* box-shadow: 3px 3px 5px 1px #ccc; */
}

.content {
  position: absolute;
  top: 5vh;
  background: #e4e3e3;
  width: 100%;
  height: 95%;
  max-width: 100%;
}

.hidden{
  display: none !important;
}

.btn {
  outline: none;
  border: none;
  background-color: #f3c623;
}

