.input-wrapper {
  display: block;
  margin: 1% 20% 5% 20%;
  align-content: flex-start;
}

.input-wrapper * {
  display: block;
  text-align: start;
}

.input-wrapper label {
  font-size: 1.3em;
  color: gray;
  margin-bottom: 5px;
}

.input-wrapper input {
  width: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border: none;
  height: 2em;
  padding: 3px 7px 1px 7px;
  font-size: 1.3em;
}

.input-wrapper textarea {
  width: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border: none;
  height: 8em;
  padding: 3px 7px 1px 7px;
  font-size: 1.3em;
}

.input-wrapper .input-error {
  color: red;
  font-size: 1em;
}

.submit-btn {
  height: 3rem;
  width: 6rem;
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
  border: none;
  background-color: #f3c623;
}

.submit-btn:hover {
  box-shadow: 0 0 10px rgba(100, 255, 100, 1);
}

.form {
  width: 30rem;
}

#login-error{
    color: red;
    font-size: 1rem;
    display: block;
}

#register-error{
  color: red;
  font-size: 1rem;
  display: block;
}
